extends layout

block content
  .container.first-content
      p El sector del transporte es uno de los sectores estratégicos en cualquier país, y particularmente cuando de aviación hablamos. Tanto las aeronaves como los aeropuertos deben contar con equipos, accesorios y servicios con un alto grado de calidad y profesionalismo, ya que en algunos casos, de ello depende la vida de muchas personas. En 
       strong.blue Exaris® Aviation 
       span nos especializamos en poner al alcance de los aeropuertos productos y servicios de vanguardia que permitan lograr el objetivo de recibir, manejar y transportar de manera eficiente a los millones de pasajeros que vuelan en el espacio aéreo de nuestro país, y que pasan cada año por las diferentes terminales aéreas de México y el extranjero

      h2 ¿Quienes Somos?
      p Somos una Unidad de Negocios especializada en proveer productos y servicios enfocados a terminales aéreas (aeropuertos) y aeronaves. Contamos con la distribución de varias líneas de producto líderes a nivel mundial y que ponemos al alcance de los clientes en toda la República Mexicana. Nuestra empresa cuenta con personal con amplia experiencia en el sector aeronáutico. 
 
      .col-md-6.mvm
        h3 Misión
        p Poner al alcance del sector aeronáutico, productos y servicios líderes que ayuden a manejar y transportar con mayor eficiencia y seguridad a los pasajeros que utilizan las terminales aéreas y aeronaves en nuestro país.
      .col-md-6.mv
          h3 Visión 
          p Ser la mejor opción en productos y servicios en el sector aeronáutico de México.

  .img-aviation
  .container.av-prod
    h1 PRODUCTOS
    .col-md-4.producto
      .foto-p.p-a1
      .btn-p.text-center.animated
        a(href="producto#aviation&evans")
          img(src="../images/btn_p.svg", alt="")       
      .text-center
        img(src="../images/aviation/evans.png", alt="")
      .txt-p.text-justify
        strong Evans Consoles 
        p Las consolas Evans son diseñadas para llevar a cabo las misiones más críticas tales como Control de Tránsito Aéreo. Su estructura de acero brinda gran durabilidad requerida para misiones de alto estrés en la operación los 365 días.
    .col-md-4.producto
      .foto-p.p-a1-5
      .btn-p.text-center
        a(href="producto#aviation&evansa")
          img(src="../images/btn_p.svg", alt="")       
      .text-center
        img(src="../images/aviation/evansa.png", alt="")
      .txt-p.text-justify
        strong Evans Airport
        p Evans Airport Solutions ofrece todo el diseño integral del interior de la terminal aérea, desde las áreas comerciales, pasando por las salas de espera, diseño y fabricación de mostradores, señalización interior, etc. El enfoque de la marca es en la optimización del manejo del pasajero.
    .col-md-4.producto
      .foto-p.p-a2
      .btn-p.text-center
        a(href="producto#medical&nora")
          img(src="../images/btn_p.svg", alt="")       
      .text-center
        img(src="../images/aviation/nora.png", alt="")
      .txt-p.text-justify
        strong Nora 
        p Nora fabrica pisos especializados para terminales aéreas en diferentes colores, patrones y en diferentes grosores dependiendo del tráfico del área que se va a cubrir. Desde el pasillo principal del ambulatorio, las salas de última espera, áreas de documentación, pasillos telescópicos de abordaje, áreas comerciales, áreas administrativas, áreas de mantenimiento, etc.
    .col-md-4.producto
      .foto-p.p-a3
      .btn-p.text-center
        a(href="")
          img(src="../images/btn_p.svg", alt="")       
      .text-center
        img(src="../images/aviation/sleep.png", alt="")
      .txt-p.text-justify
        strong Sleep Box 
        p Las cabinas Sleep Box permiten que el pasajero en espera de un vuelo pueda descansar en la misma terminal aérea, y sin tener el riesgo de dos temas importantes hoy en día: la higiene y la seguridad. El Sleep Box proveé momentos de descanso y sueño silencioso sin perder tiempo buscando un hotel o trasladandose al mismo.
    .col-md-4.producto
      .foto-p.p-a4
      .btn-p.text-center
        a(href="")
          img(src="../images/btn_p.svg", alt="")       
      .text-center
        img(src="../images/aviation/avlite.png", alt="")
      .txt-p.text-justify
        strong Avlite 
        p Avlite cuenta con una amplia gama de productos cuya característica principal es que son alimentadas por energía solar. Dentro de la gama se encuentran luces para calles de rodaje, luces para borde de pista, para umbral de pista, conos de viento iluminados, luces de obstrucción, lámparas para señalización, lámparas para áreas abiertas, etc. 
    .col-md-4.producto
      .foto-p.p-a5
      .btn-p.text-center
        a(href="")
          img(src="../images/btn_p.svg", alt="")       
      .text-center
        img(src="../images/aviation/airfield.png", alt="")
      .txt-p.text-justify
        strong AGM 
        p Señalización para pistas, calles de rodaje, intersecciones, plataforma, etc. La señalización está disponible tanto en tecnología convencional como LED.
    .col-md-4.producto
      .foto-p.p-a6
      .btn-p.text-center
        a(href="")
          img(src="../images/btn_p.svg", alt="")       
      .text-center
        img(src="../images/aviation/multi.png", alt="")
      .txt-p.text-justify
        strong Multi 
        p Multielectric cuenta con una amplia gama de productos, desde luces para borde de pista, luces para centro de pista, luces para umbral de pista, luces para borde de calles de rodaje, luces para centro de calle de rodaje, luces de aproximación, PAPI, luces de obstrucción, conos de viento iluminados, etc.
    .col-md-4.producto
      .foto-p.p-a7
      .btn-p.text-center
        a(href="")
          img(src="../images/btn_p.svg", alt="")       
      .text-center
        img(src="../images/aviation/tuf.png", alt="")
      .txt-p.text-justify
        strong Airfield 
        p La erosión en los bordes de pista y de las calles de rodaje son el pan de cada día en la mayoría de los aeropuertos con tráfico pesado.
    .col-md-4.producto
      .foto-p.p-a8
      .btn-p.text-center
        a(href="")
          img(src="../images/btn_p.svg", alt="")       
      .text-center
        img(src="../images/aviation/hali.png", alt="")
      .txt-p.text-justify
        strong Hali Brite 
        p Hali-Brite fabrica faros rotatorios para aeropuertos. La función principal del faro es facilitar la ubicación del aeropuerto principalmente en operaciones nocturnas.
    .col-md-4.producto
      .foto-p.p-a9
      .btn-p.text-center
        a(href="")
          img(src="../images/btn_p.svg", alt="")       
      .text-center
        img(src="../images/aviation/cruz.png", alt="")
      .txt-p.text-justify
        strong FEC
        p Adicionalmente a los helipuertos tradicionales de concreto para edificios altos, plataformas off shore y aplicaciones en piso, FEC Heliports diseña, fabrica e instala helipuertos en aluminio 100% recuperables.
    .col-md-4.producto
      .foto-p.p-a10
      .btn-p.text-center
        a(href="")
          img(src="../images/btn_p.svg", alt="")       
      .text-center
        img(src="../images/aviation/holders.png", alt="")
      .txt-p.text-justify
        strong Flightstrip holders
        p Cuenta con una amplia gama de tiras, porta tiras y racks porta tiras para torres y centros de control de tráfico aéreo. Existen diferentes modelos y colores para adaptarse a su necesidad. Las tiras están disponibles sueltas, en rollo para utilizar impresora térmica, o en paquete para utilizarlas a mano.
    .col-md-4.producto
      .foto-p.p-a11
      .btn-p.text-center
        a(href="")
          img(src="../images/btn_p.svg", alt="")       
      .text-center
        img(src="../images/aviation/acams.png", alt="")
      .txt-p.text-justify
        strong Acams
        p ACAMS desarrolla una solución integrada y homogénea para los requerimientos básicos de monitoreo y control dentro de la torre de control.
    .col-md-4.producto
      .foto-p.p-a12
      .btn-p.text-center
        a(href="")
          img(src="../images/btn_p.svg", alt="")       
      .text-center
        img(src="../images/aviation/intelcan.png", alt="")
      .txt-p.text-justify
        strong Intelcan
        p Intelcan diseña y desarrolla sistemas para comunicación (VCCS, AMHS, ATIS, RCMS, Recording), navegación (ILS, DME), vigilancia (MSSR, PSR, ADS-B), manejo de tráfico aé
  .container.text-center.down
    hr
    h3 Aquí podrá descargar el catálogo más reciente de Exaris® Aviation.
    a(href="#")#btn_download
      img(src="../images/icn.svg", alt="")
  script.
    $(window).bind("load", function() {btn_active("aviation");});

