extends layout

block content
  .container.first-content
      p El sector del transporte es uno de los sectores estratégicos en cualquier país, y particularmente cuando de aviación hablamos. Tanto las aeronaves como los aeropuertos deben contar con equipos, accesorios y servicios con un alto grado de calidad y profesionalismo, ya que en algunos casos, de ello depende la vida de muchas personas. En 
       strong.blue Exaris® Aviation 
       nos especializamos en poner al alcance de los aeropuertos productos y servicios de vanguardia que permitan lograr el objetivo de recibir, manejar y transportar de manera eficiente a los millones de pasajeros que vuelan en el espacio aéreo de nuestro país, y que pasan cada año por las diferentes terminales aéreas de México y el extranjero

      h2 ¿Quienes Somos?
      p Somos una Unidad de Negocios especializada en proveer productos y servicios enfocados a terminales aéreas (aeropuertos) y aeronaves. Contamos con la distribución de varias líneas de producto líderes a nivel mundial y que ponemos al alcance de los clientes en toda la República Mexicana. Nuestra empresa cuenta con personal con amplia experiencia en el sector aeronáutico. 
 

      h3 Misión
      p Poner al alcance del sector aeronáutico, productos y servicios líderes que ayuden a manejar y transportar con mayor eficiencia y seguridad a los pasajeros que utilizan las terminales aéreas y aeronaves en nuestro país.

      h3 Visión 
      p Ser la mejor opción en productos y servicios en el sector aeronáutico de México.
  .img-aviation
  .container
    h1 PRODUCTOS
    .col-md-4.producto
      .foto-p
      .btn-p.text-center
        img(src="../images/prod/btn_p.svg", alt="")       
      .logo-p.text-center
        img(src="../images/prod/eva.png", alt="")
      .txt-p.text-justify
        strong Evans Consoles 
        p Las consolas Evans son diseñadas para llevar a cabo las misiones más críticas tales como Control de Tránsito Aéreo. Su estructura de acero brinda gran durabilidad requerida para misiones de alto estrés en la operación los 365 días.
    .col-md-4.producto
      .foto-p
      .btn-p.text-center
        img(src="../images/prod/btn_p.svg", alt="")       
      .logo-p.text-center
        img(src="../images/prod/nora.png", alt="")
      .txt-p.text-justify
        strong Nora 
        p Las consolas Evans son diseñadas para llevar a cabo las misiones más críticas tales como Control de Tránsito Aéreo. Su estructura de acero brinda gran durabilidad requerida para misiones de alto estrés en la operación los 365 días.
    .col-md-4.producto
      .foto-p
      .btn-p.text-center
        img(src="../images/prod/btn_p.svg", alt="")       
      .logo-p.text-center
        img(src="../images/prod/sleep.png", alt="")
      .txt-p.text-justify
        strong Sleep Box 
        p Las consolas Evans son diseñadas para llevar a cabo las misiones más críticas tales como Control de Tránsito Aéreo. Su estructura de acero brinda gran durabilidad requerida para misiones de alto estrés en la operación los 365 días.
    .col-md-4.producto
      .foto-p
      .btn-p.text-center
        img(src="../images/prod/btn_p.svg", alt="")       
      .logo-p.text-center
        img(src="../images/prod/avlite.png", alt="")
      .txt-p.text-justify
        strong Avlite 
        p Las consolas Evans son diseñadas para llevar a cabo las misiones más críticas tales como Control de Tránsito Aéreo. Su estructura de acero brinda gran durabilidad requerida para misiones de alto estrés en la operación los 365 días.
    .col-md-4.producto
      .foto-p
      .btn-p.text-center
        img(src="../images/prod/btn_p.svg", alt="")       
      .logo-p.text-center
        img(src="../images/prod/airfield.png", alt="")
      .txt-p.text-justify
        strong AGM 
        p Las consolas Evans son diseñadas para llevar a cabo las misiones más críticas tales como Control de Tránsito Aéreo. Su estructura de acero brinda gran durabilidad requerida para misiones de alto estrés en la operación los 365 días.
    .col-md-4.producto
      .foto-p
      .btn-p.text-center
        img(src="../images/prod/btn_p.svg", alt="")       
      .logo-p.text-center
        img(src="../images/prod/eva.png", alt="")
      .txt-p.text-justify
        strong Multi 
        p Las consolas Evans son diseñadas para llevar a cabo las misiones más críticas tales como Control de Tránsito Aéreo. Su estructura de acero brinda gran durabilidad requerida para misiones de alto estrés en la operación los 365 días.
    .col-md-4.producto
      .foto-p
      .btn-p.text-center
        img(src="../images/prod/btn_p.svg", alt="")       
      .logo-p.text-center
        img(src="../images/prod/tuf.png", alt="")
      .txt-p.text-justify
        strong Airfield 
        p Las consolas Evans son diseñadas para llevar a cabo las misiones más críticas tales como Control de Tránsito Aéreo. Su estructura de acero brinda gran durabilidad requerida para misiones de alto estrés en la operación los 365 días.
    .col-md-4.producto
      .foto-p
      .btn-p.text-center
        img(src="../images/prod/btn_p.svg", alt="")       
      .logo-p.text-center
        img(src="../images/prod/eva.png", alt="")
      .txt-p.text-justify
        strong Hali Brite 
        p Las consolas Evans son diseñadas para llevar a cabo las misiones más críticas tales como Control de Tránsito Aéreo. Su estructura de acero brinda gran durabilidad requerida para misiones de alto estrés en la operación los 365 días.
    .col-md-4.producto
      .foto-p
      .btn-p.text-center
        img(src="../images/prod/btn_p.svg", alt="")       
      .logo-p.text-center
        img(src="../images/prod/cruz.png", alt="")
      .txt-p.text-justify
        strong FEC
        p Las consolas Evans son diseñadas para llevar a cabo las misiones más críticas tales como Control de Tránsito Aéreo. Su estructura de acero brinda gran durabilidad requerida para misiones de alto estrés en la operación los 365 días.
    .col-md-4.producto
      .foto-p
      .btn-p.text-center
        img(src="../images/prod/btn_p.svg", alt="")       
      .logo-p.text-center
        img(src="../images/prod/holders.png", alt="")
      .txt-p.text-justify
        strong Flightstrip holders
        p Las consolas Evans son diseñadas para llevar a cabo las misiones más críticas tales como Control de Tránsito Aéreo. Su estructura de acero brinda gran durabilidad requerida para misiones de alto estrés en la operación los 365 días.
  .container.text-center.down
    hr
    h3 Aquí podrá descargar el catálogo más reciente de Exaris® Aviation.
    a(href="#")
      img(src="../images/prod/icn.svg", alt="")
