extends layout

block content
  .container.first-content
      p La capacitación y consultoría son piezas fundamentales en el desarrollo de toda organización. Cuando hablamos de empresas del área de la salud generalmente hablamos de servicios o productos que tienen que ver con el soporte vital. Por ello, nuestra empresa colabora con las instituciones del área de la salud para mejorar su gestión y procesos, haciéndolas más eficientes y contribuyendo a mejorar la atención de los pacientes.
      br
      h2 ¿Quienes Somos?
      p Somos la Unidad de Negocios especializada en consultoría para administración y gestión, así como para la certificación de hospitales, servicios médicos en aeropuertos y empresas. Nuestra empresa cuenta con personal con amplia experiencia en la gestión hospitalaria, de servicios de urgencias y el equipamiento médico. Contamos con experiencia en el desarrollo de proyectos hospitalarios mediante la conformación de un equipo multidisciplinario de expertos en las diferentes áreas involucradas. 
      
      .col-md-6.mvm
        h3 Misión
        p Brindar consultoría y capacitación de alta calidad, con un alto grado de profesionalismo, en aquellas áreas en donde contamos con el conocimiento y experiencia.
      .col-md-6.mv
          h3 Visión 
          p Ser la mejor opción en capacitación, consultoría y gestión de servicios en el área de la salud.

  .img-consulting.animated.fadeInUp
  .container.consulting-section
    h1 SERVICIOS
    .col-md-4.c1
      .col-md-12.text-center
        span.glyphicon.glyphicon-certificate
      h2 Consultoría para la Certificación Hospitalaria
      hr
      br
      p.text-justify La Certificación desarrollada por el Consejo de Salubridad General (CSG) a partir del año 2010, se basa en una metodología que se asegura que los procesos, sistema, los servicios otorgados se ajustan a leyes, normas, lineamientos o recomendaciones de organismos dedicados a la regulación nacional o internacional.

      h4.blue ¿Por qué certificar los Hospitales?
      br
      ul
        li Mejorar la seguridad y la calidad de la atención médica
        li Cumplir con el marco regulatorio
        li Mayor exigencia del los usuarios-pacientes
        li Necesidad de tener un mayor y mejor nivel de desempeño
        li Medir nuestros resultados
        li Eficacia y Eficiencia como imperativos
        li Tendencia nacional
        li Tendencia internacional
      br
      p.text-justify Se sabe y conoce que el Consejo de Salubridad General, la Asociación Nacional de Hospitales Privados y la Asociación Mexicana de Instituciones de Seguros, firmaron un acuerdo que los hospitales que tengan la certificación del CSG podrán realizar cobro directo a las compañías por la atención de sus pacientes.
      p.text-justify Como objetivo final la Certificación busca lograr que los Hospitales cumplan con la elaboración, evaluación, corrección y control de los procesos, procedimientos y protocolos clínicos, así como de la continua supervisión de su funcionalidad dentro de un contexto organizacional en el hospital, consultorio o institución, maximizando el desempeño de las actividades y la adaptación óptima para buscar la calidad y seguridad de la atención médica, entre otros aspectos que se deben de desarrollar son:
      br
      ul
        li 1.Estándares centrados en el paciente.
        li 2. Estándares de Gestión del establecimiento.
        li 3. Metas internacionales para la seguridad del paciente.
        li 4. Indicadores de gestión.
        li 5. Estándares de evaluación de estructura.
        li 6. Gestión y seguridad de la institución (hospital seguro)
        li 7. Sistemas de información.
      br
      p Nuestra empresa puede ayudarle a certificar su hospital de acuerdo con las normas del Consejo de Salubridad General y la Joint Comission for Hospital Acreditation Organization (JCHAO).

  
    .col-md-4.c2
      .col-md-12.text-center
        span.glyphicon.glyphicon-folder-open
      h2 Consultoría para la Gestión Hospitalaria y de Servicios Médicos
      hr
      br
      p.text-justify En México la práctica de la calidad y la seguridad han avanzado notablemente en los últimos años. Los nuevos retos que están presentes en los procesos de los hospitales nos encaminan a buscar planes de gestión cada vez más eficientes y eficaces. La gestión hospitalaria enfocada desde el punto de vista de la satisfacción del cliente constantemente nos obliga a ser mejores, sobre todo cuando ésta se relaciona con el área de la salud. Es por ello que los procesos propios de una institución de salud deben estar vinculados a aquellos aspectos que reflejen un compromiso real con la satisfacción de nuestros pacientes, con las expectativas de nuestro personal (médicos, enfermeras) y con la razón de ser de nuestra institución.
      p.text-justify Toda vez que la gestión hospitalaria enfocada a la calidad, ha adquirido nuevas características y partiendo del hecho que la gestión del área hospitalaria es compleja y altamente especializada, nuestro modelo ha sido diseñado de manera universal, considerando todos los posibles servicios o procesos con los que cualquier hospital. Los cambios que ocurren en el mundo que nos rodea exigen de todas las organizaciones ya sean estas públicas o privadas una capacidad de adaptación e innovación constante, estas exigencias y tecnologías nuevas generan presiones para establecer nuevas formas de proceder para aumentar el impacto de la institución en la comunidad.
      p.text-justify El modelo de un hospital moderno proporcionado de tecnología y de una organización apta para prestar servicios de calidad causa satisfacción en los pacientes, usuarios o clientes, fundamentados en el ambiente interno de la organización y básicamente se pueden desarrollar en tres dimensiones o áreas que son:
      br
      ul
        li Dimensión organizacional.
        li Dimensión humana y gerencial.
        li Dimensión Tecnológica.
      br
      p El progreso de los hospitales puede ser visto como resultado de la capacidad gerencial de responder a los desafíos impuestos por los cambios de la sociedad, económicos, políticos y tecnológicos.
    .col-md-4.c3
      .col-md-12.text-center
        span.glyphicon.glyphicon-flash
      h2 Consultoría para el Desarrollo de Proyectos Hospitalarios
      hr
      p.text-justify El realizar un proyecto hospitalario requiere el conocimiento profundo de diversas áreas que trabajan de manera conjunta. Por ello, ponemos a su disposición la consultoría para el desarrollo de proyectos hospitalarios que incluyen entre otros servicios:
      ul
        li Estudios de mercado
        li Estudios financieros
        li Realización de programas médico arquitectónicos
        li Determinación del equipamiento especializado necesario
        li Proyecto de ingenierías especializadas
        li Proyecto ejecutivo
        li Asesoría jurídico corporativo
        li Asesoría fiscal y contable

    
  .container.text-center.down
    hr
    span.h3 Aquí podrá descargar el catálogo más reciente de Exaris
      span ® 
      span.h3 Consulting.
    br
    a(href="consuliting.pdf" target="_blank")#btn_download
      img(src="../images/icn.svg", alt="")
