extends layout

block content
  .container.first-content
      p Cada nuevo día que pasa, en el mundo entero se hace más clara la necesidad de utilizar energías limpias, aprovechando cada uno de los recursos gratuitos que nos brinda la naturaleza, tales como el viento y el sol. Las energías renovables o energías limpias hacen que tengamos la oportunidad de generar energía eléctrica a partir de recursos infinitos, que tenemos al alcance de la mano, que no cuestan y que en muchas ocasiones no aprovechamos.
      p En 
        strong.blue Exaris® Energy 
        span nos especializamos en poner al alcance de las empresas, industrias y la comunidad en general, sistemas de generación de energía eléctrica, mediante el uso de recursos naturales como el viento y el sol (energía eólica y fotovoltaica).
      h2 ¿Quienes Somos?
      p Somos una Unidad de Negocios especializada en proveer soluciones para el aprovechamiento de las energías renovables. Contamos con la distribución de varias líneas de producto líderes a nivel mundial y que ponemos al alcance de los clientes en toda la República Mexicana. Nuestra empresa cuenta con personal con amplia experiencia en el sector energético.  
      
      .col-md-6.mvm
        h3 Misión
        p Poner al alcance de la población en general, soluciones, productos y servicios líderes que ayuden a aprovechar con mayor eficiencia las energías renovables existentes en nuestro país.
      .col-md-6.mv
          h3 Visión 
          p Ser la mejor opción en productos y servicios en el sector de energías renovables de México.
  .img-energy.animated.fadeInUp
  .container
    hr
    h1 PRODUCTOS Y SERVICIOS
    .col-md-6.producto
      .foto-p.p-e1
      .btn-p.text-center
        a(href="producto#energy&wind")
          img(src="../images/btn_p.svg", alt="")       
      .text-center
        img(src="../images/energy/wind.png", alt="")
      .txt-p.text-justify
        strong Windspire 
        p Las turbinas de eje vertical y los paneles solares Windspire permiten optimizar un sistema verde completo, con máxima eficiencia y confiabilidad absoluta.
    .col-md-6.producto
      .foto-p.p-e2
      .btn-p.text-center
        a(href="producto#energy&green")
          img(src="../images/btn_p.svg", alt="")       
      .text-center
        img(src="../images/energy/green.png", alt="")
      .txt-p.text-justify
        strong Solgreen Solutions 
        p Ha desarrollado un concepto muy interesante en mesas de trabajo y convivencia dirigidas principalmente al mercado de escuelas, universidades, clubes deportivos y cualquier otro lugar en donde existan terrazas en las que se agrupen personas a convivir.

  .container.evientos
    hr
    h2 Estudios de Viento
    p 
      strong Exaris Energy 
      span puede ayudarle a determinar si el lugar en donde piensa colocar turbinas de viento es factible, así como también determinar la cantidad de energía que pudiera producir cada una de ellas tomando en cuenta el viento promedio que hay en su propiedad.
    p Si requiere mayor información al respecto de cómo podemos llevar a cabo un estudio de vientos en su propiedad, llámenos o escríbanos a  
      a(href="mailto:consultoria@exaris.mx")
        strong consultoria@exaris.mx

    
  .container.text-center.down
    hr
    h3 Aquí podrá descargar el catálogo más reciente de Exaris® Energy.
    a(href="#")#btn_download
      img(src="../images/icn.svg", alt="")
