extends layout

block content
  .container.home-content
      p Hoy en día los mercados ofrecen un reto para las empresas. Estos demandan no solo más y mejores productos y servicios; requieren también que los proveedores otorguen un servicio especializado y que cuenten con un profundo conocimiento del mercado que les permita proveer soluciones integrales para ellos. 
      span Por lo anterior 
      strong.blue Exaris® 
      span se ha organizado en unidades de negocio especializadas. Cada unidad de negocios está formada por personal con amplio 
        i expertise 
        span en su mercado.
  .img-example

  .container.second-content
    h1 UNIDADES DE NEGOCIO
    .row
      .col-md-9.txt_m
        img(src="images/l_aviation.svg")
        p.titulo Exaris® Aviation
        p Unidad de negocios especializada en el suministro de productos para infraestructura aeroportuaria tales como consolas para torres de control, sistemas para control de tránsito aéreo, iluminación y señalización para pistas y calles de rodaje, pisos y mobiliario para aeropuertos entre otros.
        a(href="aviation")
          .btn.btn-info.der_main Exaris Aviation 
      .col-md-3.h-img1
        //- img(src="images/aviation_home.png", alt="")
    .row
      .col-md-9.txt_m
        img(src="images/l_consulting.svg")
        p.titulo Exaris® Consulting
        p Unidad de negocios dedicada a la consultoría para el desarrollo y operación de proyectos hospitalarios y certificación de hospitales según criterios nacionales e internacionales.
        a(href="consulting")
          .btn.btn-info.der_main Exaris Consulting
      .col-md-3.h-img2

    .row 
      .col-md-9.txt_m
        img(src="images/l_energy.svg")
        p.titulo Exaris® Energy
        p Unidad de negocios especializada en el suministro e instalación de soluciones de energía limpia tales como energía eólica y fotovoltáica.
        a(href="energy")
          .btn.btn-info.der_main Exaris Energy
      .col-md-3.h-img3
        
    
    .row
      .col-md-9.txt_m
        img(src="images/l_medical.svg")
        p.titulo Exaris® Medical
        p Unidad de negocios especializada en el suministro de equipo médico hospitalario de alta especialidad, en las áreas de quirófano, mobiliario de transporte y almacenamiento, equipo post-mortem para áreas de patología, consumibles, etc.
        a(href="medical")
          .btn.btn-info.der_main Exaris Medical
      .col-md-3.h-img4
        


    .row 
      .col-md-9.txt_m
        img(src="images/l_safety.svg")
        p.titulo Exaris® Safety
        p Unidad de negocios especializada en proveer productos y servicios enfocados a la seguridad en industrias, comercios, corporaciones e individuos.
        a(href="safety")
          .btn.btn-info.der_main Exaris Safety
      .col-md-3.h-img5
       
