extends layout

block content
  .container.home-content
      p Hoy en día los mercados ofrecen un reto para las empresas. Estos demandan no solo más y mejores productos y servicios; requieren también que los proveedores otorguen un servicio especializado y que cuenten con un profundo conocimiento del mercado que les permita proveer soluciones integrales para ellos. 
      span Por lo anterior 
      strong.blue Exaris® 
      span se ha organizado en unidades de negocio especializadas. Cada unidad de negocios está formada por personal con amplio expertise en su mercado.
  .img-example

  .container.second-content
    p Las unidades de negocio que componen Exaris® son las siguentes:
    h1 UNIDADES DE NEGOCIO
    .row
      .col-md-3.h-img1
        img(src="images/aviation_home.png", alt="")
      .col-md-9.txt_m
        img(src="images/aviation.svg")
        p.titulo Exaris© Aviation
        p Unidad de negocios especializada en el suministro de productos para infraestructura aeroportuaria tales como consolas para torres de control, sistemas para control de tránsito aéreo, iluminación y señalización para pistas y calles de rodaje, pisos y mobiliario para aeropuertos entre otros.
        a(href="aviation")
          .btn.btn-info.der_main Exaris Aviation 
    .row
      .col-md-9.txt_m
        img(src="images/consulting.svg")
        p.titulo Exaris© Consulting
        p Unidad de negocios dedicada a la consultoría para el desarrollo y operación de proyectos hospitalarios y certificación de hospitales según criterios nacionales e internacionales.
        a(href="consulting")
          .btn.btn-info Exaris Consulting
      .col-md-3.h-img2
        img(src="images/consulting_home.png", alt="")

    .row
      .col-md-3.h-img3
        img(src="images/energy_home.png", alt="") 
      .col-md-9.txt_m
        img(src="images/energy.svg")
        p.titulo Exaris© Energy
        p Unidad de negocios especializada en el suministro e instalación de soluciones de energía limpia tales como energía eólica y fotovoltáica.
        a(href="energy")
          .btn.btn-info.der_main Exaris Energy 
    
    .row
      .col-md-9.txt_m
        img(src="images/medical.svg")
        p.titulo Exaris© Medical
        p Unidad de negocios especializada en el suministro de equipo médico hospitalario de alta especialidad, en las áreas de quirófano, mobiliario de transporte y almacenamiento, consumibles, etc.
        a(href="medical")
          .btn.btn-info Exaris Medical
      .col-md-3.h-img4
        img(src="images/medical_home.png", alt="") 


    .row
      .col-md-3.h-img5
        img(src="images/safety_home.png", alt="") 
      .col-md-9.txt_m
        img(src="images/safety.svg")
        p.titulo Exaris© Safety
        p Unidad de negocios especializada en el suministro e instalación de soluciones de energía limpia tales como energía eólica y fotovoltáica.
        a(href="safety")
          .btn.btn-info.der_main Exaris Safety
