doctype html
html
  head
    title= "Exaris"
    //- link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" )
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/animate.css')
    script(src="https://maps.googleapis.com/maps/api/js?sensor=false")

  body
    .redbar
    .row.menu
    a(href="/")
      .col-md-3.logo.animated.fadeInDown
            img(src="images/logo.svg", alt="")
    .col-md-9.barmenu.animated.fadeInDown
      a(href="/aviation")
        #1.md-menu.aviation.q AVIATION
            br
            img(src="images/choice.svg", alt="")
      a(href="/consulting")
        #2.md-menu.consulting.q CONSULTING
            br
            img(src="images/choice.svg", alt="")
      a(href="energy")
        #3.md-menu.energy.q ENERGY
            br
            img(src="images/choice.svg", alt="")
      a(href="medical")
        #4.md-menu.medical.q MEDICAL
            br
            img(src="images/choice.svg", alt="")
      a(href="safety")
        #5.md-menu.safety.q SAFETY
            br
            img(src="images/choice.svg", alt="")
    .help_btns.animated.fadeInRight
      .up
        span.glyphicon.glyphicon-chevron-up
      .home
        span.glyphicon.glyphicon-home
    block content
    .footer
      .col-md-8.dat
        //- .col-md-12.txt_contacto 
        //-   p Para nosotros es muy importante estar en contacto con ustedes. Puede tener comunicación con nosotros mediante nuestras redes sociales, o bien, a los siguientes teléfonos y correos electrónicos: 
        .col-md-6
          p.gray Teléfonos:
          a(href="tel:01-33-30443055") 01-33-3044-3055 /
          a(href="tel:01-33-30443065")  01-33-3044-3065
          p.red
            a(href="mailto:info@exaris.mx") info@exaris.mx
            span -  
            a(href="mailto:ventas@exaris.mx") ventas@exaris.com
          p Av. Vallarta #6503 Int. C2-24, Col. Ciudad Granda, Zapopan, Jalisco, México, C.P.45010

        .col-md-6.second_section
          div
            a(href="aviso") - Aviso de Privacidad
          div
            a(href="terminos") - Terminos y Condiciones
          div
            a(href="/projects") - Galería de Proyectos
          
          div.descarga Descarga nuestros catálogos
          .form-group.catalogos
            select.form-control#catalog_link
              option Escoge el catálogo
              option(value="/aviation.pdf") AVIATION
              option(value="/consulting.pdf") CONSULTING
              option ENERGY
              option(value="/medical.pdf") MEDICAL
              option(value="/safety.pdf") SAFETY
        .col-md-12.f_foot
          .col-md-4.x_icn
            img(src="../images/x_icn.svg", alt="")

          .col-md-4.social
            a(href="https://www.facebook.com/ExarisMx/?fref=nf" target="_blank") 
              img(src="../images/face.svg", alt="")
              /ExarisM
          .col-md-4.social
            a(href="https://twitter.com/exarismx/" target="_blank") 
              img(src="../images/twitter.svg", alt="")
              @ExarisM
      .col-md-4.map
        #map
  script(src="https://code.jquery.com/jquery-2.1.4.min.js")
  script(src="/javascripts/janimate.min.js")
  script(src="/javascripts/main.js")
