doctype html
html
  head
    title= "Exaris"
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" )
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/animate.css')

  body
    .redbar
    .row.menu
    .col-md-3.logo
        img(src="images/logo.svg", alt="")
    .col-md-9.barmenu
      a(href="#")
        #1.md-menu.aviation.q AVIATION
            br
            img(src="images/choice.svg", alt="")
      a(href="#")
        #2.md-menu.consulting.q CONSULTING
            br
            img(src="images/choice.svg", alt="")
      a(href="#")
        #3.md-menu.energy.q ENERGY
            br
            img(src="images/choice.svg", alt="")
      a(href="#")
        #4.md-menu.medical.q MEDICAL
            br
            img(src="images/choice.svg", alt="")
      a(href="#")
        #5.md-menu.safety.q SAFETY
            br
            img(src="images/choice.svg", alt="")
    block content
    .footer
      .col-md-8.dat Para nosotros es muy importante estar en contacto con ustedes. Puede tener comunicación con nosotros mediante nuestras redes sociales, o bien, a los siguientes teléfonos y correos electrónicos:
        .col-md-6
          p Teléfonos:
          p 01-33-30443055 / 01-33-3044-3065
          p info@exaris.mx  -  ventas@exaris.com
        .col-md-6 hola
      .col-md-4.map hola

  script(src="http://code.jquery.com/jquery-2.1.4.min.js")
  script(src="/javascripts/janimate.min.js")
  script(src="/javascripts/main.js")