extends layout

block content
  .container.first-content
      p La salud es un derecho universal. Los médicos, enfermeras y demás personas que trabajan en los servicios de salud son responsables de ejecutar los procedimientos y tratamientos necesarios para que los pacientes recuperen su estado de salud. Sin embargo, existe otra parte que juega un papel muy importante en este proceso: el equipo médico.
      p En 
        strong.blue Exaris® Medical 
        span nos especializamos en poner al alcance de los médicos, enfermeras y hospitales,  productos y servicios de vanguardia que ayuden a lograr el objetivo de restablecer la salud de los pacientes.

      h2 ¿Quienes Somos?
      p Somos una Unidad de Negocios especializada en proveer productos y servicios enfocados a médicos, enfermeras y hospitales. Contamos con la distribución de varias líneas de producto líderes a nivel mundial y que ponemos al alcance de los clientes en toda la República Mexicana. Nuestra empresa cuenta con personal con más de 30 años de experiencia en el sector médico.
      
      .col-md-6.mvm
        h3 Misión
        p Poner al alcance de los médicos, enfermeras y hospitales, productos y servicios líderes que ayuden a restablecer la salud de los pacientes.
      .col-md-6.mv
          h3 Visión 
          p Ser la mejor opción en productos y servicios en el sector médico de México.
  .img-medical.animated.fadeInUp
  .container.main-prod
    h1 PRODUCTOS
    
    
  .container.text-center.down
    hr
    span.h3 Aquí podrá descargar el catálogo más reciente de Exaris
      span ® 
      span.h3 Medical.
    br
    a(href="medical.pdf" target="_blank")#btn_download
      img(src="../images/icn.svg", alt="")
