extends layout

block content
  .col-md-12.bar-section.animated.fadeInUp
  a.back(href="#")  
    .btn-back.col-md-12.text-center.animated.fadeInUp
          span.glyphicon.glyphicon-triangle-top.animated.fadeInUp
          span  Volver a productos 
          span.glyphicon.glyphicon-triangle-top.animated.fadeInUp
  .container
      .logo-p.text-left.col-md-12
      
      //- PRODUCTOS DE MEDICAL
      .mortech.none.text-justify
        .mor
          span.t Mortech
          span ®
          span.t Manufacturing
        p Desde 1985 se ha dedicado a la fabricación de equipo post mortem de alta calidad. Cuenta con un equipo altamente capacitado además de tener equipo de manufactura de última generación, lo que les permite ofrecer productos de primera; eso sin dejar de lado el excelente servicio al cliente y atención a los detalles. 

        p En Exaris® Medical, como distribuidor exclusivo en México de Mortech®, le ofrecemos el diseño, planeación y suministro de equipo para áreas de patología como: refrigeradores y congeladores para cadáveres, cámaras de refrigeración y congelación, mesas para autopsia, estaciones de disección, mesas de disección anatómica, estaciones para embalsamado, carros para transporte de cadáveres, elevadores para cadáveres, racks para almacenamiento de cadáveres, sierras para autopsia, aspiradoras de hueso, bolsas para cadáveres, bolsas para especímenes, mobiliario en acero inoxidable especializado para áreas de patología, máquinas para embalsamado, instrumental especializado, básculas para pesar órganos, reposa cabezas, tablas para disección, etc.

      .nora.none.text-justify
        h1 Nora
        p Los pisos de la industria lo requieren todo: seguridad para la alta tecnología, resistencia a productos químicos, ergonomía para los usuarios, superficies sin poros, una aptitud óptima para la limpieza y mucho más. Las extraordinarias propiedades del producto convierten a los pisos de caucho nora en la solución ideal en la producción y el montaje, en salas blancas, en áreas ESD, en laboratorios y en centros de investigación, pero también en oficinas y áreas administrativas. El alto confort al caminar y al estar de pie es el plus para los usuarios del edificio. 

        p Los pisos preformados para escaleras con cantonera, huella y contrahuella de una pieza, hacen más seguros los descensos en las organizaciones, además de facilitar la armoniosa integración de la escalera en la arquitectura.

      .trans.none.text-justify
        h1 Transmotion
        p Fabricante de sillas quirúrgicas multipropósito, ideales para procedimientos de radiología, cirugía de corta estancia, recuperación, oftalmología, gastroenterología, cirugía plástica, etc. 

        p Una sola superficie desde el ingreso hasta el egreso del paciente, disminuyendo las posibilidades de accidentes en el cambio de camilla a la mesa quirúrgica y a la sala de recuperación. Disminuye también la posibilidad de que el personal de enfermería sufra lesiones en la espalda a causa del traslado y cambio de los pacientes.

      .metro.none.text-justify
        h1 Metro
        p Diseño, planeación y suministro de soluciones para el transporte y almacenamiento dentro de los hospitales. Algunos de sus productos incluyen carros de paro, carros de anestesia, carros de dosis unitaria, carros utilitarios, carros para catéteres, carros para ropa limpia y sucia, estaciones de trabajo fijas y móviles, sistemas de control de medicamento, estaciones móviles de cómputo, mobiliario de almacenamiento, mesas de CEYE, mesas para biomédica, estantería en metal o polímero, tarimas, etc.

      .mortara.none.text-justify
        h1 Mortara
        p Electrocardiógrafos (ECG) en reposo, electrocardiógrafos para pruebas de esfuerzo, Holters, monitoreo móvil para pacientes, monitoreo ambulatorio de presión arterial.

      .ergo.none.text-justify
        h1 ErgoMates®
        p ErgoMates® es el tapete antifatiga normal y antiestático que te pones. En lugar de estar atado a un espacio definido por el área del tapete antifatiga convencional, los ErgoMates® permiten movilidad y seguridad en cada paso. 

        p Son ideales para médicos y enfermeras, así como para toda aquella persona que pasa mucho tiempo del día de pie tales como operarios de producción, supervisores, meseros, cocineros, policías, instaladores, vigilantes, escoltas, etc.

        h4.blue Existen disponibles diferentes modelos:
        ul
          li ErgoMates® – Suela antifatiga diseñada para reducir el impacto, dolor y molestias. Color negro.
          li ErgoMate® MD – Diseñado para reducir el impacto, dolor y molestias. Color blanco.
          li ErgoMate® Lite – Ideal para el usuario ocasional como asistentes a ferias, gerentes de planta, etc.
          li ErgoMate® H2O – Diseñados con agarre adicional tanto mojados como secos.
          li ErgoMate® ESD – Diseñados para reducir el impacto, dolor y molestias. Incluye cinta antiestática.
          li ErgoMate® Ice – Diseñados para uso en hielo y nieve.
          li TracMate® – Resistencia al derrape superior sobre superficies resbalosas.

      .exare.none.text-justify
        h1 Exare
        p Es la línea de candados y cinchos pasivos ideales para mantener un control visual del contenido de los carros de paro, cajas de instrumental o medicamentos, gabinetes de resguardo. Cada candado/cincho viene marcado con un número de serie único. 

        p Los candados y cinchos Exare® no fueron diseñados para evitar el robo, sino para garantizar de manera rápida, que el contenido resguardado no ha sido alterado.

        h4.blue Para ordenar:

        ul
          li LEC9900A-EX – Candado pasivo, caja con 100 piezas foliadas.
          li LEC9910A-EX – Cincho pasivo, caja con 100 piezas foliadas.

      .sensors.none.text-justify
        h1 Evironmental Sensors
        p Fabricante de monitores electrónicos para la medición ambiental de diferentes vapores. Ej. Oxido de etileno, formaldehído, etc.

        p Estos monitores permiten conocer el grado de exposición de los operarios a diferentes vapores, brindando la oportunidad de llevar un mejor control de la calidad de aire dentro del ambiente de trabajo.

        p Los monitores permiten conocer la fotografía del sitio en cuestión de segundos, facilitando la toma de decisiones sobre las acciones para mejorar la calidad del aire ambiental.

      .advance.none.text-justify
        h1 Advance Chemical Sensors
        p Fabricante de monitores pasivos para la medición personal de diferentes  vapores como: oxido de etileno, agentes anestésicos, óxido nitroso, peróxido de hidrógeno, glutaraldehído, formaldehído, ácido acético, acetona, benceno, gasolina, diesel, gas avión, keroseno, metanol, nitrometano, fenol, naftalina, tolueno, xileno, vapor de mercurio, alcohol isopropílico, ether, etilen glicol, freon 13, heptano, hexano, hidroquinona, isoforona, estireno, tricloroetileno, amonia,  etc. 

        p Estos sensores permiten conocer el grado de exposición personal durante un período de 8 horas (TWA) o de 15 minutos (STEL).

        p Existen modelos para monitorear más de 100 vapores orgánicos. El tiempo de respuesta para obtener el resultado es de 24-48 horas una vez que son recibidos en el laboratorio del fabricante. Se emite un reporte por escrito en donde se detallan los resultados obtenidos.
      .gcx.none.text-justify
        h1 GCX
        p Sistemas de montaje para todo tipo de monitores y equipo hospitalario, así como para computadoras y monitores LCD. Existen sistemas móviles, sistemas para pared, techo, piso, etc.

      .sharn.none.text-justify
        h1 Sharn
        p Fabrica una amplia línea de productos para anestesia y Ceye. Desde sensores de temperatura digitales y desechables, protectores de ojos y una línea completa de cepillos para lavado de todo tipo de instrumental quirúrgico

      .action.none.text-justify
        h1 Action
        p Hoy en día el manejo de daños por presión en los pacientes es muy importante para los hospitales. Los posicionadores Action® ofrecen al paciente el manejo optimo de presión y reduce las llagas de presión en quirófanos y otras áreas como terapias y pacientes pediátricos. 

        p Su diseño incorpora un material de polimero denominado Akton®, mismo que ha revolucionado el mercado de posicionadores debido a lo siguientes atributos:
        ul
          li Redistribuye el peso
          li Redistribuye el calor corporal
          li No absorbe fluidos ni permite escurrimientos
          li No se comprime bajo la presión de grandes pesos
          li Fácil de usar y limpiar
          li Cuenta con una piel suave y flexible para mover fácilmente al paciente
          li Reduce el desperdicio en el hospital
          li No favorece el crecimiento bacterial
          li Radiolucido
          li No alergénico
          li Efectivo clínicamente
          li Material autoextinguible
          li Libre de látex o silicón
          li Fácil de reparar
      .medical.none.text-justify
        h1 Medical indicators
        p Ahora que el mercurio ha sido prohibido no debe estar más en los hospitales. Por ello Medical Indicators fabrica la mejor opción en monitoreo de temperatura. Existen diferentes modelos: desechables, reusables, para niños.

        p Los productos son sumamente fáciles de utilizar y cuentan con un alto grado de confiabilidad y exactitud.

      .gander.none.text-justify
        h1 Gander OR
        p Los organizadores Gander permiten tener el quirófano organizado correctamente. Al mismo tiempo permite colocar en la ventana de los organizadores publicidad o comunicados del hospital.

        P Pregunte por nuestro plan de negocios en donde su hospital no solo tendrá su quirófano organizado, sino que su hospital tendrá ingresos mensuales adicionales por utilizar los organizadores Gander.

      .carstens.none.text-justify
        h1 Carstens
        p Carstens es especialista en la fabricación de expedientes y portaexpedientes  clínicos. Dichos productos se fabrican de acuerdo a las necesidades del cliente y pueden incorporar el logotipo y datos que el hospital requiera.

      .op.none.text-justify
        h1 OP-Mark
        p OP-Marks es la mejor opción para terminar con los errores del sitio equivocado en las cirugías, ya que está diseñado para marcar al paciente de una forma clara, exacta y optima previo a la cirugía.

      //- SAFETY

      .eva.none.text-justify
        h1 Evac+Chair® 
        p Las sillas de evacuación Evac+Chair® son la solución universal para el descenso por escaleras durante una emergencia. La operación por un solo usuario asegura que no se requiera levantar peso o el manejo manual durante los procedimientos de evacuación de emergencia.

        p En el caso de un evento de emergencia como incendio o terremoto, los elevadores dejarán de funcionar, por consiguiente las personas con algún tipo de discapacidad motriz temporal o permanente quedarían atrapadas. La silla Evac+Chair® es la solución perfecta; es un dispositivo ligero y de fácil uso que permite deslizarse hacia abajo en las escaleras para evacuar rápida y sencillamente a las personas con impedimentos de movilidad.

        p La silla Evac+Chair® se dobla y monta en la pared mediante un gancho (incluido), ocupando poco espacio y permitiendo que esté siempre disponible cerca de la escalera.

        h3 Existen varios modelos:
        ul
          li 300H Modelo estándar con capacidad de carga de 182 kgs.
          li 600H Modelo con manerales adicionales y capacidad de carga de 182 kgs.
          li IBEX Transeat modelo para subir y bajar escaleras, con capacidad de carga de 159 kgs.
          li Air+Chair modelo para ser utilizado en aviones y autobuses, con capacidad de carga de 250 kgs

      .ergo_p.none.text-justify
        h1 ErgoMates®
        p ErgoMates® es el tapete antifatiga normal y antiestático que te pones. En lugar de estar atado a un espacio definido por el área del tapete antifatiga convencional, los ErgoMates® permiten movilidad y seguridad en cada paso. 

        p Son ideales para médicos y enfermeras, así como para toda aquella persona que pasa mucho tiempo del día de pie tales como operarios de producción, supervisores, meseros, cocineros, policías, instaladores, vigilantes, escoltas, etc.

        h4.blue Existen disponibles diferentes modelos:
        ul
          li ErgoMates® – Suela antifatiga diseñada para reducir el impacto, dolor y molestias. Color negro.
          li ErgoMate® MD – Diseñado para reducir el impacto, dolor y molestias. Color blanco.
          li ErgoMate® Lite – Ideal para el usuario ocasional como asistentes a ferias, gerentes de planta, etc.
          li ErgoMate® H2O – Diseñados con agarre adicional tanto mojados como secos.
          li ErgoMate® ESD – Diseñados para reducir el impacto, dolor y molestias. Incluye cinta antiestática.
          li ErgoMate® Ice – Diseñados para uso en hielo y nieve.
          li TracMate® – Resistencia al derrape superior sobre superficies resbalosas.

      .escape.none.text-justify
        h1 Escape Chute Systems 
        p Diseño y suministro de sistemas de evacuación rápida para edificios, plantas de manufactura, escuelas, edificios altos, embajadas, equipo de minería, torres de control de tránsito aéreo, torres de reparación, grúas, hospitales, etc.

        p Los toboganes de evacuación se pueden utilizar en la gran mayoría de áreas altas, en donde existe la posibilidad de quedar atrapado por el fuego, terrorismo, ataques criminales, accidentes industriales, terremotos, etc., en donde puede tener como resultado la pérdida de la vida o graves heridas por no tener medios alternativos de salida.

        p Siempre se debe de utilizar el medio de salida de emergencia estándar en las ubicaciones (escaleras de emergencia), pero, ¿qué pasa si éstos no pueden ser utilizados? Los toboganes de evacuación están disponibles en varios formatos que permiten que las personas evacuadas desciendan en forma vertical (tobogán Verti-Scape®), o pueden deslizarse hacia abajo en un tobogán inclinado (Slide-Scape®).

        p Los toboganes son métodos alternativos efectivos para evacuar a personas desde una locación alta cuando los medios convencionales están bloqueados. Un solo tobogán puede evacuar hasta 360 personas en 15 minutos a una tasa de 25 personas por minuto sin importar la altura.

        p Tenemos disponibles toboganes de una sola entrada (colocado generalmente en la azotea o ventana) y de múltiples entradas (colocados en cada uno de los pisos).

        p Llámenos para una consulta especializada sobre cómo podemos ayudarle a resolver sus necesidades de evacuación.
      .guardian.none.text-justify
        h1 Guardian Angel
        p El dispositivo Guardian Angel® fabricado por 425, Inc., es la primer torreta personal. El dispositivo se diseño para mejorar la seguridad personal tanto en el ambiente de trabajo como fuera de él.

        p Algunos mercados en los que se aplica el uso del dispositivo Guardian Angel® son: policías, militares, bomberos, protección civil, paramédicos, seguridad, seguridad ocupacional, seguridad personal, motociclistas, corredores, ciclistas, trabajadores en carreteras y calles, perros, etc.

        p El dispositivo cuenta con una batería recargable que brinda hasta 60 horas de uso continuo y tiene una visibilidad de 2 millas. Se puede utilizar en todo tipo de climas.

        p El Guardian Angel® tiene 6 maneras de operación que incluyen una luz de trabajo, encendido de la parte frontal, encendido de la parte trasera, encendido de ambas partes (frontal y trasera), luz de emergencia y economizador de energía.

        h3.blue Existen diferentes colores dependiendo del uso:
        ul
          li Azul/Azul
          li Azul/Rojo
          li Rojo/Rojo
          li Blanco/Rojo
          li Rojo/Naranja
          li Naranja/Naranja
          li Blanco/Naranja
          li Blanco/Blanco
          li Ambar/Ambar
          li Verde/Verde

        p Hay disponibles diferentes sistemas de montaje como: montaje magnético, para la bicicleta, para el tablero, para el vidrio, para el cinturón, para la camisa.
      .sky.none.text-justify
        h1 Skysaver 
        p El Skysaver® es un dispositivo de evacuación personal de descenso controlado que permite que el propietario salga del edificio en cuestión de segundos en caso de incendio, temblor, actos de terrorismo, etc.

        p El sistema viene integrado en una mochila y se sujeta a un ancla previamente colocada en el edificio. Al momento de la emergencia simplemente se toma la mochila, se coloca y asegura, se sujeta el gancho a el ancla y se evacua el edificio por la ventana haciendo rapel hasta llegar a la calle.

        h3.blue Existen 3 modelos disponibles:
        ul
          li SKS 80  (80 pies de cable – aproximadamente 25 metros). Peso: 8 kg. Capacidad de carga: 30-135 kgs.
          li SKS 160 (160 pies de cable – aproximadamente 50 metros). Peso: 10 kg. Capacidad de carga: 30-135 kgs.
          li SKS 260 (260 pies de cable – aproximadamente 80 metros). Peso: 11.7 kg. Capacidad de carga: 20-135 kgs.


        p El Skysaver® cuenta con un sistema de frenado mecánico que permite que el usuario descienda a una velocidad de 1-2 metros/segundo.

        p Su cable de acero galvanizado es resistente al fuego de acuerdo con los estándares ASTM. Cuentan con garantía de 7 años.

        p El sistema Skysaver® es ideal para casas, corporativos, escuelas, torres de control de transito aéreo, edificios de oficinas y departamentos, edificios públicos, etc.

      .nora_s.none.text-justify
        h1 Nora 
        p Los pisos de la industria lo requieren todo: seguridad para la alta tecnología, resistencia a productos químicos, ergonomía para los usuarios, superficies sin poros, una aptitud óptima para la limpieza y mucho más. Las extraordinarias propiedades del producto convierten a los pisos de caucho nora en la solución ideal en la producción y el montaje, en salas blancas, en áreas ESD, en laboratorios y en centros de investigación, pero también en oficinas y áreas administrativas. El alto confort al caminar y al estar de pie es el plus para los usuarios del edificio. 

        p Los pisos preformados para escaleras con cantonera, huella y contrahuella de una pieza, hacen más seguros los descensos en las organizaciones, además de facilitar la armoniosa integración de la escalera en la arquitectura.
      


      //- AVIATION 


      .evans.none.text-justify
        h1 Evans Consoles 
        p Las consolas Evans son diseñadas para llevar a cabo las misiones más críticas tales como Control de Tránsito Aéreo. Su estructura de acero brinda gran durabilidad requerida para misiones de alto estrés en la operación los 365 días.

        p Las consolas se diseñan de acuerdo a la necesidad y espacio de cada proyecto, pudiendo tener como opción consolas con ajuste de altura, brazos para monitores LCD, rack porta tiras, espacios para control de  iluminación de la torre, para el control de iluminación de la pista, para acomodar el ATIS, el panel Meteorológico, archiveros, espacio para guarda de objetos personales, manuales, PIA, etc.


      .evansa.none.text-justify
        h1 Evans Airport 
        p Evans Airport Solutions ofrece todo el diseño integral del interior de la terminal aérea, desde las áreas comerciales, pasando por las salas de espera, diseño y fabricación de mostradores, señalización interior, etc. El enfoque de la marca es en la optimización del manejo del pasajero. 

        p El manejo tranquilo de pasajeros y la primera impresión del mismo dependen de áreas atractivas y con mostradores eficientes, empezando con la documentación, venta de boletos, control de inmigración, mostradores de salas de espera, etc. 

        p Adicionalmente Evans Airport Solutions diseña y fabrica las estructuras necesarias para colocar la señalización, iluminación, displays de información de vuelos, sistemas de control de clima, etc. 

      .nora_a.none.text-justify
        h1 Nora 
        p Los pisos de la industria lo requieren todo: seguridad para la alta tecnología, resistencia a productos químicos, ergonomía para los usuarios, superficies sin poros, una aptitud óptima para la limpieza y mucho más. Las extraordinarias propiedades del producto convierten a los pisos de caucho nora en la solución ideal en la producción y el montaje, en salas blancas, en áreas ESD, en laboratorios y en centros de investigación, pero también en oficinas y áreas administrativas. El alto confort al caminar y al estar de pie es el plus para los usuarios del edificio. 

        p Los pisos preformados para escaleras con cantonera, huella y contrahuella de una pieza, hacen más seguros los descensos en las organizaciones, además de facilitar la armoniosa integración de la escalera en la arquitectura.


      .sleep.none.text-justify
        h1 Sleep Box 
        p Las cabinas Sleep Box permiten que el pasajero en espera de un vuelo pueda descansar en la misma terminal aérea, y sin tener el riesgo de dos temas importantes hoy en día: la higiene y la seguridad. El Sleep Box proveé momentos de descanso y sueño silencioso sin perder tiempo buscando un hotel o trasladandose al mismo.

        p Gracias al Sleep Box cualquier persona tiene la oportunidad de pasar la noche de manera segura, económica e higiénica, manteniendo su equipaje consigo todo el tiempo.

        p El Sleep Box es espacio de 2m x 1.4 x 2.3. Su principal elemento funcional es una cama de 2 x 0.6m, la cual está equipada con un sistema automático de cambio de sábanas de papel. La cama es suave, flexible y cómoda. Si el cliente quiere dormir com mayor comodidad aún, puede solicitar un juego de sábanas de algodón con un cargo extra. 

        p El Sleep Box cuenta con un sistema de ventilación, sonidos de alerta, TV LCD, WiFi, enchufes para Laptop, teléfonos celulares, etc. Debajo de la cama existe un espacio para almacenar el equipaje.

        p Después de que el cliente deja el Sleep Box, el cambio automático de sábanas da inicio y se nciende una lampara de rayos UV que desinfecta la cabina para dejarla lista para el siguiente cliente.

      .airfield.none.text-justify
        h1 AGM  
        p Señalización para pistas, calles de rodaje, intersecciones, plataforma, etc. La señalización está disponible tanto en tecnología convencional como LED.

      .avlite.none.text-justify
        h1 Avlite  
        p Avlite cuenta con una amplia gama de productos cuya característica principal es que son alimentadas por energía solar. Dentro de la gama se encuentran luces para calles de rodaje, luces para borde de pista, para umbral de pista, conos de viento iluminados, luces de obstrucción, lámparas para señalización, lámparas para áreas abiertas, etc. 

        p Muy importante es mencionar que estas luces no requieren cableado ya que son unidades con alimentación independiente. Además se pueden controlar mediante un control remoto por radio frecuencia.

        p Existen también luces convencionales LED para todas las aplicaciones que se requieren en el aeropuerto.


      .multi.none.text-justify
        h1 Multielectric 
        p Multielectric cuenta con una amplia gama de productos, desde luces para borde de pista, luces para centro de pista, luces para umbral de pista, luces para borde de calles de rodaje, luces para centro de calle de rodaje, luces de aproximación, PAPI, luces de obstrucción, conos de viento iluminados, etc.

      .tuf.none.text-justify
        h1 Airfield 
        p La erosión en los bordes de pista y de las calles de rodaje son el pan de cada día en la mayoría de los aeropuertos con tráfico pesado. Además de que los aeropuertos tienen que invertir una grán suma de dinero en arreglos de estas áreas, los aviones están expuestos a sufrir daños ocasionados por que los mismos motores de los aviones pueden impulsar pequeños fragmentos de asfalto, concreto, piedras u otros materiales, dañando a otras aeronaves que se encuentren detrás de ellos; en muchos casos, inclusive pueden dañar las turbinas y hélices por el mismo motivo. 

        p Por lo anterior, la colocación de pasto sintético a los lados de la pista y calles de rodaje brinda muchos beneficios entre los que destacan:
        ul
          li Aumento de visibilidad de calles de rodaje, pistas y señalización
          li Disminución de daños en motores y fuselajes derivados de mantener desechos en las pistas y calles de rodaje.
          li Control no letal de la fauna nociva del aeropuerto (aves, roedores, reptiles, etc.)
          li Recarga de los mantos freaticos del aeropuerto
          li Permite que los vehiculos de emergencia circulen por encima del paso acortando el tiempo de respuesta en caso de accidente
          li Disminuye prácticamente un 90% los costos de mantenimiento de esas áreas
          li Mejora la estética general del aeropuerto, brindando una sensación de primavera los 365 días del año

      .hali.none.text-justify
        h1 Hali Brite
        p Hali-Brite fabrica faros rotatorios para aeropuertos. La función principal del faro es facilitar la ubicación del aeropuerto principalmente en operaciones nocturnas. Los faros cuentan con dos lámparas (en dos caras) de 40,000 lumenes (400 watts), una blanca y otra verde y son libres de mantenimiento, excepto por el cambio normal de los focos (aproximadamente cada 15,000 horas).

        p Los faros pueden montarse directamente sobre la torre de control, o bien, sobre un mástil que cuenta con un mecanismo que permite inclinarlo para labores de mantenimiento y limpieza del faro.

      .cruz.none.text-justify
        h1 Fec Heliports
        p Adicionalmente a los helipuertos tradicionales de concreto para edificios altos, plataformas off shore y aplicaciones en piso, FEC Heliports diseña, fabrica e instala helipuertos en aluminio 100% recuperables. Además, cuenta con una línea completa de luces, controles y accesorios para helipuertos.

      .holders.none.text-justify
        h1 Flightstrip holders
        p Cuenta con una amplia gama de tiras, porta tiras y racks porta tiras para torres y centros de control de tráfico aéreo. Existen diferentes modelos y colores para adaptarse a su necesidad. Las tiras están disponibles sueltas, en rollo para utilizar impresora térmica, o en paquete para utilizarlas a mano.

      .acams.none.text-justify
        h1 Acams 
        p ACAMS desarrolla una solución integrada y homogénea para los requerimientos básicos de monitoreo y control dentro de la torre de control.  El sistema está desarrollado de forma modular lo que permite ir creciendo conforme crece la necesidad de cada torre de control ya sea civil o militar.  Las funciones principales son: control de iluminación de pistas, display de información meteorológica, AWOS, control y monitoreo del estado de las ayudas de navegación, D-ATIS, VOLMET, autorización de salidas Datalink, datos de vuelo, publicaciones, mapas, panel del estado de CAT III, display de la AFTN, direction finder, GPS, control de iluminación y persianas de la torre, video vigilancia, control de acceso, registro de toda la información, tiras de plan de vuelo electrónicas, control y monitoreo de alarmas, paneles de control de radios, etc.

      .intelcan.none.text-justify
        h1 Intelcan 
        p Intelcan diseña y desarrolla sistemas para comunicación (VCCS, AMHS, ATIS, RCMS, Recording), navegación (ILS, DME), vigilancia (MSSR, PSR, ADS-B), manejo de tráfico aéreo .
        p Adicionalmente tiene la capacidad de realizar proyectos “llave en mano” que involucran desde el diseño del aeropuerto, torres de control, terminales, hangares, bodegas, locales comerciales con un equipo propio de  arquitectos, ingenieros estructurales y expertos en diseño.Desde los cimientos hasta los terminados pasando por la construcción, Intelcan es una compañía que proveé una solución total para aeropuertos. 


      //-ENERGY


      .Wind.none.text-justify
        h1 Windspire 
        p Las turbinas de eje vertical y los paneles solares Windspire permiten optimizar un sistema verde completo, con máxima eficiencia y confiabilidad absoluta.

        h3 Turbinas de eje vertical (VAWT)
        p Las turbinas Windspire son asequibles, atractivas y ultra silenciosas, brindando la posibilidad de generar energía limpia derivada del viento justo afuera de su puerta.

        p Son apropiadas para prácticamente cualquier ambiente urbano, suburbano y rural. Han sido elegantemente diseñadas, son escalables y están fabricadas en Estados Unidos de Norteamérica.

        p Están disponibles modelos de 1.0 kW, 1.8 kW, 2.0 kW, 3.5 kW, 5.0 kW, 7.5 kW y 10 kW. También hay disponibles modelos para edificios altos que incluyen diferentes tipos de montajes en el techo.


        h3 Paneles y luces solares
        p Los paneles solares trabajan dirigiendo la energía solar en la manera más sensible. Muchos usuarios han decidido cambiar e invertir en paneles solares por la posibilidad de generar la energía para su propio consumo, pagando cada vez menos a la compañía de luz.

        p Las luces solares para calle son sistemas de alta calidad que incluyen luces LED con alimentación solar, lo que las hace libres de cables. Están disponibles también los modelos conectados a la red eléctrica. Los sistemas están diseñados para un desempeño confiable de largo plazo con un mínimo de mantenimiento.
        
      .green.none.text-justify
        h1 Solgreen Solutions 
        p Solgreen Solutions ha desarrollado un concepto muy interesante en mesas de trabajo y convivencia dirigidas principalmente al mercado de escuelas, universidades, clubes deportivos y cualquier otro lugar en donde existan terrazas en las que se agrupen personas a convivir.

        h3 Hay disponibles dos tipos de mesas:
        ul
          li La SmartTable® - capacidad para 8 personas y dos sillas de ruedas.
          li La Evodia Mini® - capacidad para 4 personas y cuatro sillas de ruedas.

        p Ambas mesas cuentan con paneles solares en el techo que suministran energía eléctrica a la misma. Cuentan con lámparas para uso nocturno y 8 tomacorrientes y dos puertos USB para carga de artículos eléctricos/electrónicos como computadoras, smartphones, tablets, etc.

        p Las mesas tienen espacio para que personas en silla de ruedas sean parte de la convivencia.



  .pic-prod.container.text-center


  


  hr
  .container
    .col-md-12.text-center.foot-p
      h3 Si te interesa el producto, contáctanos.
      a(href="mailto:ventas@exaris.com").red ventas@exaris.com
        br
        span.glyphicon.glyphicon-envelope
  a.back(href="#")
    .btn-back.col-md-12.text-center.animated.fadeInDown
          span.glyphicon.glyphicon-triangle-top.animated.fadeInUp
          span  Volver a productos 
          span.glyphicon.glyphicon-triangle-top.animated.fadeInUp
    