extends layout

block content
  .col-md-12.bar-section.animated.fadeInUp
  .container
      .logo-p.text-left.col-md-12
      //- PRODUCTOS DE MEDICAL
      .mortech.none.text-justify
        h1 Mortech® Manufacturing
        p Desde 1985 se ha dedicado a la fabricación de equipo post mortem de alta calidad. Cuenta con un equipo altamente capacitado además de tener equipo de manufactura de última generación, lo que les permite ofrecer productos de primera; eso sin dejar de lado el excelente servicio al cliente y atención a los detalles. 

        p En Exaris® Medical, como distribuidor exclusivo en México de Mortech®, le ofrecemos el diseño, planeación y suministro de equipo para áreas de patología como: refrigeradores y congeladores para cadáveres, cámaras de refrigeración y congelación, mesas para autopsia, estaciones de disección, mesas de disección anatómica, estaciones para embalsamado, carros para transporte de cadáveres, elevadores para cadáveres, racks para almacenamiento de cadáveres, sierras para autopsia, aspiradoras de hueso, bolsas para cadáveres, bolsas para especímenes, mobiliario en acero inoxidable especializado para áreas de patología, máquinas para embalsamado, instrumental especializado, básculas para pesar órganos, reposa cabezas, tablas para disección, etc.

      .nora.none.text-justify
        h1 Nora
        p Los pisos de la industria lo requieren todo: seguridad para la alta tecnología, resistencia a productos químicos, ergonomía para los usuarios, superficies sin poros, una aptitud óptima para la limpieza y mucho más. Las extraordinarias propiedades del producto convierten a los pisos de caucho nora en la solución ideal en la producción y el montaje, en salas blancas, en áreas ESD, en laboratorios y en centros de investigación, pero también en oficinas y áreas administrativas. El alto confort al caminar y al estar de pie es el plus para los usuarios del edificio. 

        p Los pisos preformados para escaleras con cantonera, huella y contrahuella de una pieza, hacen más seguros los descensos en las organizaciones, además de facilitar la armoniosa integración de la escalera en la arquitectura.

      .trans.none.text-justify
        h1 Transmotion
        p Fabricante de sillas quirúrgicas multipropósito, ideales para procedimientos de radiología, cirugía de corta estancia, recuperación, oftalmología, gastroenterología, cirugía plástica, etc. 

        p Una sola superficie desde el ingreso hasta el egreso del paciente, disminuyendo las posibilidades de accidentes en el cambio de camilla a la mesa quirúrgica y a la sala de recuperación. Disminuye también la posibilidad de que el personal de enfermería sufra lesiones en la espalda a causa del traslado y cambio de los pacientes.

      .metro.none.text-justify
        h1 Metro
        p Diseño, planeación y suministro de soluciones para el transporte y almacenamiento dentro de los hospitales. Algunos de sus productos incluyen carros de paro, carros de anestesia, carros de dosis unitaria, carros utilitarios, carros para catéteres, carros para ropa limpia y sucia, estaciones de trabajo fijas y móviles, sistemas de control de medicamento, estaciones móviles de cómputo, mobiliario de almacenamiento, mesas de CEYE, mesas para biomédica, estantería en metal o polímero, tarimas, etc.

      .mortara.none.text-justify
        h1 Mortara
        p Electrocardiógrafos (ECG) en reposo, electrocardiógrafos para pruebas de esfuerzo, Holters, monitoreo móvil para pacientes, monitoreo ambulatorio de presión arterial.

      .ergo.none.text-justify
        h1 ErgoMates®
        p ErgoMates® es el tapete antifatiga normal y antiestático que te pones. En lugar de estar atado a un espacio definido por el área del tapete antifatiga convencional, los ErgoMates® permiten movilidad y seguridad en cada paso. 

        p Son ideales para médicos y enfermeras, así como para toda aquella persona que pasa mucho tiempo del día de pie tales como operarios de producción, supervisores, meseros, cocineros, policías, instaladores, vigilantes, escoltas, etc.

        h4.blue Existen disponibles diferentes modelos:
        ul
          li ErgoMates® – Suela antifatiga diseñada para reducir el impacto, dolor y molestias. Color negro.
          li ErgoMate® MD – Diseñado para reducir el impacto, dolor y molestias. Color blanco.
          li ErgoMate® Lite – Ideal para el usuario ocasional como asistentes a ferias, gerentes de planta, etc.
          li ErgoMate® H2O – Diseñados con agarre adicional tanto mojados como secos.
          li ErgoMate® ESD – Diseñados para reducir el impacto, dolor y molestias. Incluye cinta antiestática.
          li ErgoMate® Ice – Diseñados para uso en hielo y nieve.
          li TracMate® – Resistencia al derrape superior sobre superficies resbalosas.

      .exare.none.text-justify
        h1 Exare
        p Es la línea de candados y cinchos pasivos ideales para mantener un control visual del contenido de los carros de paro, cajas de instrumental o medicamentos, gabinetes de resguardo. Cada candado/cincho viene marcado con un número de serie único. 

        p Los candados y cinchos Exare® no fueron diseñados para evitar el robo, sino para garantizar de manera rápida, que el contenido resguardado no ha sido alterado.

        h4.blue Para ordenar:

        ul
          li LEC9900A-EX – Candado pasivo, caja con 100 piezas foliadas.
          li LEC9910A-EX – Cincho pasivo, caja con 100 piezas foliadas.

      .sensors.none.text-justify
        h1 Evironmental Sensors
        p Fabricante de monitores electrónicos para la medición ambiental de diferentes vapores. Ej. Oxido de etileno, formaldehído, etc.

        p Estos monitores permiten conocer el grado de exposición de los operarios a diferentes vapores, brindando la oportunidad de llevar un mejor control de la calidad de aire dentro del ambiente de trabajo.

        p Los monitores permiten conocer la fotografía del sitio en cuestión de segundos, facilitando la toma de decisiones sobre las acciones para mejorar la calidad del aire ambiental.

      .advance.none.text-justify
        h1 Advance
        p Fabricante de monitores pasivos para la medición personal de diferentes  vapores como: oxido de etileno, agentes anestésicos, óxido nitroso, peróxido de hidrógeno, glutaraldehído, formaldehído, ácido acético, acetona, benceno, gasolina, diesel, gas avión, keroseno, metanol, nitrometano, fenol, naftalina, tolueno, xileno, vapor de mercurio, alcohol isopropílico, ether, etilen glicol, freon 13, heptano, hexano, hidroquinona, isoforona, estireno, tricloroetileno, amonia,  etc. 

        p Estos sensores permiten conocer el grado de exposición personal durante un período de 8 horas (TWA) o de 15 minutos (STEL).

        p Existen modelos para monitorear más de 100 vapores orgánicos. El tiempo de respuesta para obtener el resultado es de 24-48 horas una vez que son recibidos en el laboratorio del fabricante. Se emite un reporte por escrito en donde se detallan los resultados obtenidos.
      .gcx.none.text-justify
        h1 GCX
        p Sistemas de montaje para todo tipo de monitores y equipo hospitalario, así como para computadoras y monitores LCD. Existen sistemas móviles, sistemas para pared, techo, piso, etc.

      .sharn.none.text-justify
        h1 Sharn
        p Fabrica una amplia línea de productos para anestesia y Ceye. Desde sensores de temperatura digitales y desechables, protectores de ojos y una línea completa de cepillos para lavado de todo tipo de instrumental quirúrgico

      .action.none.text-justify
        h1 Action
        p Hoy en día el manejo de daños por presión en los pacientes es muy importante para los hospitales. Los posicionadores Action® ofrecen al paciente el manejo optimo de presión y reduce las llagas de presión en quirófanos y otras áreas como terapias y pacientes pediátricos. 

        p Su diseño incorpora un material de polimero denominado Akton®, mismo que ha revolucionado el mercado de posicionadores debido a lo siguientes atributos:
        ul
          li Redistribuye el peso
          li Redistribuye el calor corporal
          li No absorbe fluidos ni permite escurrimientos
          li No se comprime bajo la presión de grandes pesos
          li Fácil de usar y limpiar
          li Cuenta con una piel suave y flexible para mover fácilmente al paciente
          li Reduce el desperdicio en el hospital
          li No favorece el crecimiento bacterial
          li Radiolucido
          li No alergénico
          li Efectivo clínicamente
          li Material autoextinguible
          li Libre de látex o silicón
          li Fácil de reparar
      .medical.none.text-justify
        h1 Medical indicators
        p Ahora que el mercurio ha sido prohibido no debe estar más en los hospitales. Por ello Medical Indicators fabrica la mejor opción en monitoreo de temperatura. Existen diferentes modelos: desechables, reusables, para niños.

        p Los productos son sumamente fáciles de utilizar y cuentan con un alto grado de confiabilidad y exactitud.

      .gander.none.text-justify
        h1 Gander OR
        p Los organizadores Gander permiten tener el quirófano organizado correctamente. Al mismo tiempo permite colocar en la ventana de los organizadores publicidad o comunicados del hospital.

        P Pregunte por nuestro plan de negocios en donde su hospital no solo tendrá su quirófano organizado, sino que su hospital tendrá ingresos mensuales adicionales por utilizar los organizadores Gander.

      .carstens.none.text-justify
        h1 Carstens
        p Carstens es especialista en la fabricación de expedientes y portaexpedientes  clínicos. Dichos productos se fabrican de acuerdo a las necesidades del cliente y pueden incorporar el logotipo y datos que el hospital requiera.














  .pic-prod.container.text-center


  


  hr
  .container
    .col-md-12.text-center.foot-p
      h3 Si te interesa el producto, contáctanos.
      a(href="mailto:ventas@exaris.com").red ventas@exaris.com
      br
      span.glyphicon.glyphicon-envelope