extends layout

block content
  .container.projects
    .squares
    
  .container
    .title_project
      h1 MEDICAL
    .col-md-4
      .title_projects.p1 HOSPITAL CANCEROLOGÍA ACAPULCO
    .col-md-4
      .title_projects.p2 UNAM FACULTAD DE MEDICINA
    .col-md-4 
      .title_projects.p3 HOSPITAL PEDRIATICO CMNO
    .col-md-4
      .title_projects.p4 ISSTE VELENTÍN GÓMEZ FARIAS
