extends layout

block content
  .container.projects
    .squares
    
  .container
    .title_project
      h1 MEDICAL
    .col-md-4
      .title_projects.p1 HOSPITAL CANCEROLOGÍA ACAPULCO
    .col-md-4
      .title_projects.p2 HOSPITAL PEDRIATIA CMNO 
    .col-md-4 
      .title_projects.p3 ISSSTE VELENTÍN GÓMEZ FARIAS
    .col-md-4
      .title_projects.p4 UNAM FACULTAD DE MEDICINA S
    hr
  .container
    .title_project
      h1 SAFETY
    .col-md-4
      .title_projects.p5 PROEZA
