extends layout

block content
  .container.first-content
      p La seguridad es muy importante en cualquier industria. En
        strong.blue Exaris® Safety
        span nos especializamos en poner al alcance de las industrias y organizaciones en México los mejores y más novedosos productos en seguridad industrial y personal.

      h2 ¿Quienes Somos?
      p Somos una Unidad de Negocios especializada en proveer productos y servicios enfocados a industrias, comercios, corporaciones e individuos. Contamos con la distribución de varias líneas de producto líderes a nivel mundial y que ponemos al alcance de los clientes en toda la República Mexicana. Nuestra empresa cuenta con personal con más de 30 años de experiencia en el sector industrial.  
 

      .col-md-6.mvm
        h3 Misión
        p Poner al alcance de las industrias, organizaciones e individuos, productos y servicios líderes que contribuyan  a mantener la seguridad.
      .col-md-6.mv
          h3 Visión 
          p Ser la mejor opción en productos y servicios en el sector de seguridad en México.
  .img-safety.animated.fadeInUp
  .container.saf-prod
    h1 PRODUCTOS
    
  .container.text-center.down
    hr
    h3 Aquí podrá descargar el catálogo más reciente de Exaris® Aviation.
    a(href="#")#btn_download
      img(src="../images/icn.svg", alt="")
