@font-face {
    font-family:shree;
    src: url(/fonts/shree.ttf);

}

@font-face {
    font-family:myriad;
    src: url(/fonts/myriad-pro.ttf);

}

body {
  padding: 0px;
  font: 15px myriad, Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1,h2,h3,h4{
	font-family: shree;
}
p, span{
	color: #6F6F6F;
	letter-spacing: 1px;
}

/*red : #d30d1f*/
/*blue : #152669*/
/*white : #f8f8f8*/


.blue{
	color: #2121FF;
}


.redbar{

height: 10px;
width: 100%;
background-color: #d30d1f;
position: relative;

}
.menu{
	margin: 0px;
}

.logo{
	background-color:  #f8f8f8;
	margin:  0px;
	padding:  0px;
	text-align:  center;
	padding-top:  1.5em;
	height: 200px;
	max-height: 300px;
}

.logo img{
	height: 90%;
}

.barmenu{
	margin: 0px;
	padding: 0px;
	    z-index: 10000;
}

.md-menu{
	height: 200px !important;
	width: 20%;
  display: inline-block;
  text-align: center;
  padding-top: 8%;
  font-size: 2em;
  color: white;
  letter-spacing:2px;
  font-family: shree;
      padding-bottom: 4%;

}

.first-content-a{
	text-align: justify;
    max-width: 900px;
    padding-top: 300px;
    padding-bottom: 50px;
}

/* safety*/

.img-safety{
	height: 400px;
	 background: url(../images/safety/head.jpg) no-repeat top left; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
      z-index: -17;
    position: relative;
	 
  }


/**/
.aviation, .consulting, .energy, .medical-m, .safety{
	-moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	height: 30px;
}


.aviation{
	background: url(../images/aviation.png)no-repeat center center ;
	background-color: red;
 	background-blend-mode: multiply;
 	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.consulting{background: url(../images/consulting.png)no-repeat center center;
	background-color: red;
 	background-blend-mode: multiply;
 	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.energy{background: url(../images/energy.png)no-repeat center center;
	background-color: red;
 	background-blend-mode: multiply;
 	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.medical-m{background: url(../images/medical.png)no-repeat center center;
	background-color: red;
 	background-blend-mode: multiply;
 	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.safety{background: url(../images/safety.png)no-repeat center center;
	background-color: red;
 	background-blend-mode: multiply;
 	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.aviation:hover, .aviation:active{
	background-color: blue;
}

.consulting:hover, .consulting:active{
	background-color: blue;
}

.energy:hover, .energy:active{
	background-color: blue;
}

.medical-m:hover, .medical-m:active{
	background-color: blue;
}

.safety:hover, .safety:active{
	background-color: blue;
}

.md-menu img{

height: 10px;

margin-bottom: -35px;

}
.btn-info{
	background-color: #185EEA;
}

.btn-info:hover, .btn-info:active{
	background-color: #4A72EA;
}
.titulo{
	color: #185EEA;
}

.btn{
border: 0;
}

.home-content{
	text-align: justify;
    max-width: 900px;
    padding-top: 300px;
    padding-bottom: 50px;
    
}


.first-content{
	text-align: justify;
	max-width:900px;
	padding-bottom: 50px;
	margin-bottom: -200px;
	padding-top: 242px;
}

.first-content p{
	

}
.img-example{
	height: 400px;
	 background: url(../images/h_bus.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.der_main{
	float: right;
}
.txt_m{
	    padding: 20px;
}


.second-content{
	text-align: justify;
	max-width:900px;
	padding-top: 50px;
	padding-bottom: 50px;
}

.second-content .row{
	    padding-top: 40px;
    padding-bottom: 40px;
}

.second-content .col-md-3{
	text-align: center;
}

.txt_m img{
	    height: 100px;
}

/* -------------------------- */

.h-img1 img{
	height: 300px;
}


.h-img2 img{
	height: 220px;
}

.h-img3 img{
	height: 250px;
}

.h-img5 img{
	height: 159px;
}
/* -------------------------- */
.footer{
	color: #525252;

}

.footer p{
	color: #888888;
	font-size: 13px;
}
.f_foot{
	margin-top: 40px;
	
}
.dat{
	background-color: #29292C;
	color: #F1F0F0;
	padding: 80px;
	padding-top: 70px;
	height: 340px;
}
.map{
	height: 340px;
	background-color: #ff0646;
	margin: 0px;
	padding: 0px;
}
.map iframe{
	

	height: 426px;
	padding: 0px;
	margin: 0px;
	width: 100%;
	border: 0px;
}

.red-m{
	width: 100%;
	height: 430px;
	position: relative;
	z-index: 10;
}

.txt_contacto{
	padding-bottom: 40px;
    }

    .gray{
    	color: #6D6C6C !important;
    }
    .red a{
    	color: #C6223F !important;
    }

.second_section{
	    border-left: 3px solid #125cc6;
}

.second_section div{
	margin-left: 40px;
}

.descarga{
	padding-top: 30px;

}
.x_icn img{
	    height: 47px;
    position: relative;
    top: -15px;
    left: -69px;
}

.social img{
	height: 40px;
	padding-right: 20px;
}

.catalogos{
   width: 240px;
   height: 34px;
   overflow: hidden;
   background: url(../images/arrow_select.png) no-repeat right #E9E9E9;
   border-radius: 3px;
       background-size: 35px 50px;

 
   }


.catalogos select {
	border-radius: 4px;
   background: transparent;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 1px;
   height: 34px;
   -webkit-appearance: none;
   }

.mv{
}
.mvm{
}

.mvm, .mv{
	min-height: 230px;
	padding: 30px;
	max-height: 230px;
	border-top: 1px solid #c3c3c3;
}

.mv p, .mvm p{
	color: #0B0C4C;
}

.mvm h3, .mv h3{
	color: #071527;
	margin-top: 0px;
}


 /* MAP */
#map{
	height: 340px;
	width:100%;
}

/*               PRODUCTOS */
.blackPic{
	
    border-top: 1px solid #D0DFFF;;
    border-bottom: 1px solid #D0DFFF;;
    margin-top: 30px;
    margin-bottom: 30px;
}
.producto{
	
	height: 600px;
	padding: 20px;
}

.bar-section{
position: relative;
z-index: 300;
}

.logo-p{
margin-bottom: 20px;
}

.foto-p{
	background-color: red;
	height: 250px;
}

.btn-p a:hover, .btn-p a:active{
	opacity: .8;

}

.btn-p img{
	position: relative;
	top: -30px;
	height: 60px;
}

.txt-p strong{
	font-size: 22px;
    color: #423F3F;
}
.down img{

	padding-top: 30px;
	padding-bottom: 30px;
	height: 200px;

}





/*               AVIATION */

.img-aviation{
	height: 700px;
	background: url(../images/aviation_main.png) no-repeat center center; 
  }



.p-a1{
	background: url(../images/aviation/evans-min.png) no-repeat center center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.p-a1-5{
	background: url(../images/aviation/evansa-min.png) no-repeat center center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.p-a2{
	background: url(../images/aviation/nora-min.jpg) no-repeat center center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.p-a3{
	background: url(../images/aviation/sleep-min.png) no-repeat center center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.p-a4{
	background: url(../images/aviation/avlite-min.png) no-repeat center center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.p-a5{
	background: url(../images/aviation/agm-min.png) no-repeat center center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.p-a6{
	background: url(../images/aviation/multi-min.png) no-repeat center center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.p-a7{
	background: url(../images/aviation/airfield-min.png) no-repeat center center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.p-a8{
	background: url(../images/aviation/hail-min.png) no-repeat center center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.p-a9{
	background: url(../images/aviation/fec-min.png) no-repeat center center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.p-a10{
	background: url(../images/aviation/strip-min.png) no-repeat center center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.p-a11{
	background: url(../images/aviation/acams-min.png) no-repeat center center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.p-a12{
	background: url(../images/aviation/intelcan-min.png) no-repeat center center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



/*              CONSULTING */

.img-consulting{
	height: 500px;
	 background: url(../images/consulting/head.jpg) no-repeat top left; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
      z-index: -17;
    position: relative;
	 
  }

.consulting-section h2{

	    
    color: #030350;
    padding: 26px;
    text-align: left;
    border-radius: 2px;
    font-weight: 700;
        min-height: 348px;

}

.consulting-section p{
	color: #151A3C;
}

.consulting-section h4{
	color: #9191B5;
}

.consulting-section li{
	color: #B0AEE4;;
}

.consulting-section hr{
	border-top: 1px solid #0E081D
}
.consulting-section span{

	    padding: 76px;
    font-size: 55px;
    color: #040C86;

}

.c1, .c2, .c3{
	    min-height: 1477px;


}

.c1{
	background-color: #3B3EC7;
}

.c2{
	background-color: #494CDA;
}

.c3{
	background-color: #44469E;
}



/*              ENERGY */
.img-energy{
	height: 600px;
	 background: url(../images/energy/head.jpg) no-repeat top left; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
      z-index: -17;
    position: relative;
	 
  }

.p-e1{
	background: url(../images/energy/wind-min.png) no-repeat center center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.p-e2{
	background: url(../images/energy/green-min.png) no-repeat center center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.evientos{
	background-color: #FF0646;
}

.evientos p, .evientos span{
	color: #9E1B1B;
}

.evientos strong{
color: #000;
}

.evientos hr{
    border-top: 1px solid #0C0404;
}

.evientos h2{
	    color: #FFF2F2;
}

/*              MEDICAL */

.img-medical{
	height: 500px;
	 background: url(../images/medical/head.jpg) no-repeat top left; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
      z-index: -17;
    position: relative;
	 
  }

.p-m1{
	background: url(../images/medical/mortech-min.png) no-repeat center center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.p-m2{
	background: url(../images/medical/nora-min.png) no-repeat center center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.p-m3{
	background: url(../images/medical/trans-min.png) no-repeat center center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.p-m4{
	background: url(../images/medical/metro-min.png) no-repeat center center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.p-m5{
	background: url(../images/medical/mortara-min.png) no-repeat center center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



/*PRODUCTO*/

.pic-prod img{
	height: 13em;
	padding: 5px;
}

.pic-prod{
	margin-top: 80px;
}


.bar-section{
height: 300px;
background-color: #5F0011;
    margin-top: 0px;
    background-blend-mode:multiply;
    text-align: center;
}

.bar-section img{
	height: 219px;
	padding-top: 55px;
}

.logo-p{
	padding-top: 30px;
	padding-bottom: 30px;
}

.none{
display: none;
}

.foot-p{
	cursor: pointer;
	margin-bottom: 80px;
	margin-top: 80px;
}

.foot-p span{
color: #FF0646;
font-size: 40px;

}

.red{
	    font-size: 24px;
    color: red;
}

.red a:active, .red a:hover{
	color: red;
}